<footer class="pt-4 my-md-5 pt-md-5 border-top mt-6">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/PLC_Logo.png" alt="" width="35%" >
        <small class="d-block mb-3 text-muted">&copy; 2020 - 2021</small>
      </div>
      
      <div class="col-6 col-md">
        <h5>Usage</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Editor</a></li>
          <li><a class="text-muted" href="#">Import</a></li>
          <li><a class="text-muted" href="#">Export</a></li>
          <li><a class="text-muted" href="#">User Manual</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Project</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Location</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">About us</a></li>
          <li><a class="text-muted" href="#">About PLCopen</a></li>
          <li><a class="text-muted" href="#">About XML</a></li>
        </ul>
      </div>
    </div>
  </footer>