<!--
Author: Elian Yildirim
Last Modified: 13.05.2021
Purpose: Navigation
-->


<!-- Navigation for more than 800px -->

<div id="desktopbar">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 bg-dark border-bottom box-shadow bg-dark text-white">
      <h5 class="my-0 mr-md-auto font-weight-normal">PLCOpen-Editor 1.0</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="/about">About</a>
        <a class="p-2 text-white" href="/"><i class="fa fa-home"></i></a>
      </nav>
    </div>
  </div>

  <!-- Navigation for less than 800px -->
  <nav class="navbar navbar-dark bg-dark" id="mobilebar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">PLCOpen-Editor 1.0</h4>
        <a class="p-2 text-white" href="/about">About</a><br>
        <a class="p-2 text-white" href="/"><i class="fa fa-home"></i></a>
      </div>
    </div>
  </div>
