<div class="variablesList">

<!--   <button class="newVariable" >New Variable</button> -->
  <table class="table">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Type</th>
      <th scope="col">IEC-Address</th>
      <th scope="col">Initial value</th>
      <th scope="col">Option</th>
      <th scope="col">Documentation</th>
    </tr>

    <tbody *ngFor="let variable of variables">
    <tr>
        <td>
          <label>
            <input [(ngModel)]="variable.name" (change)="onchange()">
          </label>
        </td>
        <td>
          <label>
            <select [(ngModel)]="variable.class" (change)="onchange()">
              <option value="input">Input</option>
              <option value="output">Output</option>
              <option value="inOut">In-/Output</option>
              <option value="external">External</option>
              <option value="local">Local</option>
              <option value="temp">Temp</option>
            </select>
          </label>
        </td>
        <td>
          <label>
            <select [(ngModel)]="variable.type" (change)="onchange()">
              <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
            </select>
          </label>
        </td>
        <td>
          <label>
            <input [(ngModel)]="variable.iec" (change)="onchange()">
          </label>
        </td>
        <td>
          <label>
            <input [(ngModel)]="variable.init" (change)="onchange()">
          </label>
        </td>
        <td>
          <label>
            <select [(ngModel)]="variable.option" (change)="onchange()">
              <option value="constant">constant</option>
              <option value="retain">retain</option>
              <option value="non-retain">non-retain</option>
            </select>
          </label>
        </td>
        <td>
          <label>
            <input [(ngModel)]="variable.documentation" (change)="onchange()">
          </label>
        </td>
        <td>
          <button (click)="deleteVariable(variable)" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
  <button (click)="newVariable()" class="btn btn-outline-primary">New Variable</button>
</div>
