<div class="variablesList">

  <button class="newVariable" (click)="newVariable()">New Variable</button>
  <table>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Type</th>
      <th>IEC-Address</th>
      <th>Initial value</th>
      <th>Option</th>
      <th>Documentation</th>
      <th></th>
    </tr>

    <tbody *ngFor="let variableClass of variables">
      <tr *ngFor="let variable of variableClass.variables">
        <td>
          <label>
            <input [(ngModel)]="variable.name" (change)="onchange()">
          </label>
        </td>
        <td>
          <label>
            <select [(ngModel)]="variableClass.class" (change)="onchange()">
              <option value="input">Input</option>
              <option value="output">Output</option>
              <option value="inOut">In-/Output</option>
              <option value="external">External</option>
              <option value="local">Local</option>
              <option value="temp">Temp</option>
            </select>
          </label>
        </td>
        <td>
          <select [(ngModel)]="variable.type" (change)="onchange()">
            <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
          </select>
        </td>
        <td>
          <input [(ngModel)]="variable.iec" (change)="onchange()">
        </td>
        <td>
          <input [(ngModel)]="variable.init" (change)="onchange()">
        </td>
        <td>
          <select [(ngModel)]="variableClass.option" (change)="onchange()">
            <option value="constant">constant</option>
            <option value="retain">retain</option>
            <option value="non-retain">non-retain</option>
          </select>
        </td>
        <td>
          <input [(ngModel)]="variable.documentation" (change)="onchange()">
        </td>
        <td>
          <button>Delete</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
