<!--
Author: Elian Yildirim
Last Modified: 13.05.2021
Purpose: About page
-->

<app-navigation></app-navigation>

<div class="container">

    <h1 class="text-center">About PLCOpen-Editor</h1>

    <h3>What is PLC?</h3>
    <p>PLC stands for Programable logic controllers.
    A simple way to understand it would be to think of PLC as a small computer that performs a list of instructions.
    The list of instructions contains logic that helps determine which course of action to take on a given set of circumstances.
    PLC is used in alot of areas inside and outside the industrial work. Usually where automation of tasks is the goal.
    The PLC editor itself helps user create programs without the need to know the syntax of the used programming lanugage for the PLC. All what the user needs to do is to determine the logic for the controller.
    The <a href="https://www.openplcproject.com/plcopen-editor/"> OpenPLC Reference</a> page has a nice tutorial to follow along and learn about PLC</p>
    
    <h3>Why are we doing the project?</h3>
    <p>We want to develop a web version of the OpenPLC Editor to allow users to work on their programs remotely without requiring installation.
    You can find more information about the project by visiting the wiki and reading the <a href="https://github.com/elian15122000/TINF19C-PLCOpen-Editor/wiki">CRS, SRS and SAS documents</a>.</p>
    
    <h3>What technologies are we using to make the application?</h3>
    <p>The Application runs is written in Angular 8 and runs solely as a front end application. There is no backedend envolved</p>
</div>
