.projectOverview {
  margin-left: 20px;
}

.actionButton {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: small;
}

.dropbtn {
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 8px 2px;
  color: black;
  font-size: 18px;
}

/* .dropdown-content {
  display: none;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: red;
}

.projectModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalBox {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: left;
  transform: translate(-50%,-50%);
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 15px;
}
.form {
  padding: 10px 30px;
}


a:hover {
  color: gray;
}

.modal {
  background-color: #333b3f;
}


