<div class="projectOverview">
  <h2>Project Overview</h2>
  <h3>Project: {{projectName}}</h3>

  <div *ngFor="let pou of pous">
    <table>
      <tr class="dropdown">
        <td>
          <a class="dropbtn" routerLink="/editor/{{pou.name}}">{{pou.name}}</a>
        </td>
        <td>
        <span class="dropdown-content">
          <button class="actionButton" (click)="deletePou(pou)">Delete</button>
        </span>
        </td>
      </tr>
    </table>
  </div>

  <button class="actionButton" (click)="openAddModal()">Add</button>
</div>

<div class="projectModal" id="addPouModal">
  <div class="modalBox">
    <form #newPOU="ngForm" class="form">
      <h3>Create a new POU:</h3>
      <label for="name">Name: </label>
      <input id="name" name="name" type="text" required ngModel>
      <br><br>
      <label for="type">Type: </label>
      <input id="type" name="type" type="text" required ngModel>
      <br><br>
      <label for="lang">Language: </label>
      <select id="lang" name="lang"  required ngModel>
        <option value="FBD">FBD</option>
        <option value="SFC">SFC</option>
      </select>
      <br><br>
      <input type="button" (click)="closePouModal()" class="actionButton" value="Close">
      <input type="submit" (click)="addPou(newPOU.value)" class="actionButton" value="Open">
    </form>
  </div>
</div>

