<app-navigation></app-navigation>
<button (click)="exportProject()">Export</button>

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>


    <div class="col-sm-6 text-center">


      <div class="projectOverview">
        <h2 style="margin-bottom: 3%">Project Overview</h2>

        <h3>Project: {{projectName}}</h3>

        <!-- <div *ngFor="let pou of pous">
          <table>
            <tr class="dropdown">
              <td>
                <a class="dropbtn" routerLink="/editor/{{pou}}">{{pou}}</a>
              </td>
              <td>
                <span class="dropdown-content" style="position: absolute; right: 0px;">
                  <button class="actionButton" (click)="deletePou(pou)">Delete</button>
                </span>
              </td>
            </tr>
          </table>
        </div> -->


        <div *ngFor="let pou of pous">
          <table>
            <tr class="dropdown" style="line-height: 40px;">
              <td>
                <a class="dropbtn" routerLink="/editor/{{pou}}" style="margin-left: 90px;">{{pou}}</a>
              </td>
              <td>
                <span class="dropdown-content" style="position: absolute; right: 100px; margin-top: -4%;">
                  <button class="btn btn-outline-danger btn-sm" (click)="deletePou(pou)">Delete</button>
                </span>
              </td>
            </tr>
          </table>
        </div>

          <!-- <ul>
            <li *ngFor="let pou of pous">
              <a routerLink="/editor/{{puo}}">{{pou}}</a>
              <button class="btn btn-danger-outline" (click)="deletePou(pou)">Delete</button>
            </li>
          </ul> -->


        <button class="btn btn-outline-primary" (click)="openAddModal()" style="margin-top: 5%">Add</button>
      </div>

      <div class="projectModal" id="addPouModal">
        <div class="modalBox">
          <form #newPOU="ngForm" class="form">
            <h3>Create a new POU:</h3>
            <label for="name">Name: </label>
            <input id="name" name="name" type="text" required ngModel>
            <br><br>
            <label for="type">Type: </label>
            <input id="type" name="type" type="text" required ngModel>
            <br><br>
            <label for="lang">Language: </label>
            <select id="lang" name="lang" required ngModel>
              <option value="FBD">FBD</option>
              <option value="SFC">SFC</option>
            </select>
            <br><br>
            <input type="button" (click)="closePouModal()" class="actionButton" value="Close">
            <input type="submit" (click)="addPou(newPOU.value)" class="actionButton" value="Open">
          </form>
        </div>

      </div>


    </div>



    <div class="col-sm-3"></div>


  </div>



  <app-footer></app-footer>


</div>
