<!-- <div style="margin-top: 10%; border: 1px solid black;">
    <app-graph></app-graph>
</div> -->


<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
    <!-- <a class="navbar-brand" href="#">
      <img src="../assets/PLC_Logo.png" width="30" height="30" alt="">
    </a> -->
    <h3 class="text-white">Editor</h3>
    <a class="p-2 text-white" href="/"><i class="fa fa-home"></i></a>
</nav>

<div class="row">

    <div class="col-sm-9">
        <div class="variablesList" style="border: 1px solid gray;">
            <app-variables-list></app-variables-list>
        </div>
        <div class="graph text-center no-float">
            <app-graph></app-graph>
        </div>
    </div>
    <div class="col-sm-3 library no-float" style="border: 1px solid gray">
        <app-library></app-library>
    </div>


</div>