/* summary {
  font-style: normal;
  font-size: medium;
}
li {
  font-style: normal;
  font-size: medium;
}
.library {
  position: absolute;
  box-sizing: border-box;
  right: 5px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  border: solid black 2px;
  padding-left: 10px;
  margin: 5px;
}
.libraryList {
  overflow: auto;
  box-sizing: border-box;
  height: 90%;
  border-top: solid black 1px;
}
 */