<!--
Author: Elian Yildirim
Last Modified: 13.05.2021
Purpose: Styling of Editor
-->
<nav class="navbar navbar-light bg-dark">

    <h3 class="text-white">Editor</h3>
    <a class="p-2 text-white" href="/"><i class="fa fa-home"></i></a>
</nav>

<div class="row">
    <div class="col-sm-9 shadow">
        <div class="variablesList shadow" >
            <app-variables-list></app-variables-list>
    </div>
    <div class="graph text-center shadow">
            <app-graph></app-graph>
    </div>
    </div>
    <div class="col-sm-3 no-float shadow">
        <div class="library">
            <app-library></app-library>
        </div>
    </div>
</div>