.console {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 78%;
  height: 20%;
  padding-left: 10px;
  border: solid black 2px;
  resize: vertical;
  overflow: auto;
  background-color: lavender;
  margin: 5px;
}
/* TEST */
