.modalBox {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 15px;
  }
  .uploadForm {
    padding: 10px 30px;
  }
  
  .actionButton {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: small;
  }